<h3>Restaurant Name: Blue Dalia Restaurant & Tequila Bar</h3>
<div>
    <% @times.each do |time| %>
        <button type="button" class="btn btn-link" style="border: 1px solid #007bff"><%= time %></button>
    <% end %>
</div>
